@import "materialize-css/sass/materialize"

body
	background-color: #eee

footer
	position: fixed !important
	bottom: 0 !important
	width: 100%

#song-progress
	position: fixed !important
	bottom: 4.5em !important
	width: 100%
#song-progress-slightly-higher
	position: fixed !important
	bottom: 4.7em !important
	width: 100%

#albumart, #songdetails
	padding: 1em

input[type=range]
	border: none
	&:focus
		outline: none
.card-section
    border-top: 1px solid rgba(160,160,160,0.2)
.materialize-textarea
	min-height: 75px !important
.card .card-content p 
	margin-bottom: 10px !important
strong
	font-weight: 600 !important
pre, code
	tab-size: 4 !important
	-moz-tab-size: 4 !important
	-o-tab-size: 4 !important
	-webkit-tab-size: 4 !important
pre code, pre, code
	overflow-x: auto !important
.nav-container
	padding-left: 1em
	padding-right: 5em